.login-box {
    margin-top: 55px;
    margin-bottom: 55px;
    height: auto;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 90px;
    font-size: 80px;
    line-height: 100px;
    color: linear-gradient(to bottom left, #27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

.inputEmail {
    border: none;
    border-bottom: 2px solid #04AA6D;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputPass {
    border: none;
    border-bottom: 2px solid #04AA6D;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #04AA6D;
    outline: 0;
}


.form-control-label {
    font-weight: bold;
    letter-spacing: 1px;
}


.login-text {
    text-align: left;
    padding-left: 0px;
}

.loginbttm {
    padding: 0px;
}
